body{
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color:#B50909;
}
header{
    background-color: #B50909;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    background-image: url('Images/4.jpg');
    background-size: cover;
    background-position: center;
    color: red;

}
.Home-text h2{
    text-align: center;
}
.Home-text h2:hover{
    visibility: hidden;
}
.image-row{
    display: flex;
    gap: 10px;
}
.image-row img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
